// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
a {
  text-decoration: none;
  color: black
}

ul {
  list-style-type: none;
}

.container {
  display:flex;
  margin: 0 auto;
  justify-content:space-between;
}
